<section class="section">
  <div class="container">
    <form #f="ngForm" ngNativevalidate (ngSubmit)="addGateway(f)">
      <div class="field">
        <label class="label">Full Name</label>
        <div class="control">
          <input class="input" type="text" name="fullName" [(ngModel)]="gateway.fullName" placeholder="Enter your fullNname">
        </div>
      </div>

      <div class="field">
        <label class="label">Serial Number</label>
        <div class="control">
          <input class="input" type="number" name="serialNumber" [(ngModel)]="gateway.serialNumber" placeholder="Enter the serial number" required>
        </div>
      </div>

      <div class="field">
        <label class="label">IPv4 Address</label>
        <div class="control">
          <input class="input" type="text" name="ipv4Address" [(ngModel)]="gateway.ipv4Address" placeholder="Enter the IPv4 address" required>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <button [disabled]="!f.valid" type="submit" class="button is-primary">Submit</button>
        </div>
      </div>
    </form>
  </div>
</section>

