<div class="navigation">
  <ul>
      <li>
          <a href="#">
              <span class="icon"><i class="fa-solid fa-calendar-days"></i></span>
              <span class="title text-5xl font-bold">Gateways Task</span>
          </a>
      </li>
      <!-- <li>
          <a routerLink="/home">
              <span class="icon"><i class="fa-solid fa-house"></i></span>
              <span class="title">Dashboard</span>
          </a>
      </li> -->
      <li>
          <a routerLink="/gateways">
              <span class="icon"><i class="fa-solid fa-ethernet"></i></span>
              <span class="title">Gateways</span>
          </a>
      </li>
      <!-- <li>
          <a routerLink="/devices">
              <span class="icon"><i class="fa-solid fa-mobile-screen"></i></span>
              <span class="title">Devices</span>
          </a>
      </li> -->
  </ul>
</div>

